<section>
  <header>
    <h2><strong>#</strong>habilidades</h2>
  </header>

  <div class="content">
    <div class="row">
      <div class="col image">
        <figure>
          <img src="assets/images/skills.svg" alt="" />
        </figure>
      </div>

      <div class="col skills">
        <div class="row">
          <div class="col">
            <div class="skill card">
              <h3>Linguagens</h3>
              <div class="items">
                <span>JavaScript</span>
                <span>TypeScript</span>
                <span>Python</span>
                <span>PHP</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="skill card">
              <h3>Banco de dados</h3>
              <div class="items">
                <span>Prisma ORM</span>
                <span>MySQL</span>
                <span>PostgreSQL</span>
                <span>MongoDB</span>
              </div>
            </div>

            <div class="skill card">
              <h3>Outros</h3>
              <div class="items">
                <span>HTML</span>
                <span>SCSS</span>
                <span>SEO</span>
                <span>Responsivo</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="skill card">
              <h3>Ferramentas</h3>
              <div class="items">
                <span>Git</span>
                <span>GitHub</span>
                <span>Postman</span>
                <span>Linux</span>
                <span>VSCode</span>
              </div>
            </div>

            <div class="skill card">
              <h3>Frameworks</h3>
              <div class="items">
                <span>Angular</span>
                <span>NestJS</span>
                <span>Next.js</span>
                <span>Express.js</span>
                <span>Django</span>
                <span>Liquid</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
