@import '../../../../styles/media';

section {
  margin-top: 6rem;

  .content {
    & > .row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .image {
        width: 100%;
        max-width: 350px;
        figure {
          margin: -1.5rem 1rem 0;
          width: 100%;
          img {
            width: 100%;
          }
        }
      }

      @include media('<=tablet') {
        grid-template-columns: 1fr;

        .image {
          max-width: 250px;
          margin: 0 auto;
        }
        // .col {
        // &:first-child {
        // grid-row: 2 / 2;
        // grid-column: 1 / -1;
        // }
        // }
      }

      .skills {
        .row {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 1rem;

          .col {
            .skill {
              h3 {
                margin: 0;
                padding: 0.5rem;
                border-bottom: 1px solid var(--line-color);
              }
              .items {
                display: flex;
                gap: 0.5rem 1rem;
                flex-wrap: wrap;
                padding: 0.5rem;
                span {
                  display: inline-block;
                }
              }

              & + .skill {
                margin-top: 1rem;
              }
            }
          }
          @include media('<=desktop') {
            grid-template-columns: 1fr 1fr;
            .col {
              &:first-child {
                grid-row: 2 / 2;
                grid-column: 2 / -1;
              }
            }
          }

          @include media('<=tablet') {
            grid-template-columns: 1fr;

            .col {
              &:first-child {
                grid-row: 2 / 2;
                grid-column: 1 / -1;
              }
            }
          }
        }
      }
    }
  }
}
