.avatar {
  border-radius: var(--avatar-br);
  aspect-ratio: var(--avatar-ratio);
  border-radius: var(--avatar-br);
  color: var(--color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--avatar-br);
  }

  span {
    border-radius: var(--avatar-br);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--avatar-light-color);
    font-weight: 500;
    font-size: 1.5em;
  }

  &.dark {
    span {
      color: var(--avatar-dark-color);
    }
  }
}
