<section id="projects">
  <div class="container">
    <header class="header_section">
      <h2 class="header_section__title">Meus projetos</h2>
      <p class="header_section__subtitle">Aqui você encontrará alguns projetos pessoais e de clientes, todos unicamente
        pensados.</p>
    </header>

    <div class="projects-list">
      <div class="project-item row" *ngFor="let project of projects">
        <div class="project-image col-12 col-md-6">
          <img [src]="project.image" alt="Imagem do projeto">
        </div>
        <div class="article d-flex flex-column justify-content-center col-12 col-md-6">
          <h3>{{project.title}}</h3>
          <p>{{project.description}}</p>
          <div class="buttons two-alt">
            <a *ngIf="project.link" mat-raised-button [href]="project.link" target="_blank">
              Visitar
            </a>
            <a *ngIf="project.github" mat-raised-button [href]="project.github" target="_blank">
              Github
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>