<div class="cards projects">
  @for (project of projects; track $index) {
    <div class="card">
      <figure>
        <img
          src="{{ project.image }}"
          alt="{{ getProjectTitle(project) | translate }}"
        />

        <div class="techs">
          @for (tech of project.technologies; track $index) {
            <span> {{ tech }} </span>
          }
        </div>

        <figcaption>
          <h3>{{ getProjectTitle(project) | translate }}</h3>
          <p>{{ getProjectDescription(project) | translate }}</p>
          <a
            mat-button
            color="primary"
            href="{{ project.link }}"
            target="_blank"
          >
            {{ 'global.view' | translate }} &lt;~&gt;
          </a>
        </figcaption>
      </figure>
    </div>
  }
</div>
