{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "trailingComma": "es5",
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "strict",
  "tailwindConfig": "./tailwind.config.js",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
