<header id="hero">
  <div class="fluid-container d-flex justify-content-center align-items-center flex-column h-100">
    <div class="text">
      <h1>Olá, me chamo Kauã Landi</h1>
      <p>Sou um Desenvolvedor FullStack com habilidades técnicas e a experiência
        necessária para desenvolver soluções web completas e chatbots eficientes e intuitivos.</p>

      <button mat-raised-button (click)="scrollTo('about')">
        Sobre mim
      </button>
    </div>

    <div class="scroll_animation">
      <div class="scroll">
      </div>
    </div>

    <div class="socials d-flex justify-content-center align-items-center flex-column">
      <ul class="socials-list">
        <li *ngFor="let social of socials" class="socials-item">
          <a mat-icon-button [href]="social.link" target="_blank" rel="noopener noreferrer">
            <i [icon]="social.icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>