#hero {
  height: 100vh;
  min-height: 25rem;
  max-height: 80rem;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(../../../../assets/img/hero-bg.svg) no-repeat center center/cover;

  .fluid-container {
    .text {
      margin: 1rem 4rem;
      max-width: 40rem;
      text-align: center;
      color: var(--title-color);
      h1 {
        color: var(--title-color);
        font-size: 2.5rem !important;
        line-height: 2.2rem;
        font-family: var(--ff);
        font-weight: 700;
        margin-bottom: 2rem;
      }
      p {
        font-size: 1.2rem !important;
        line-height: 1.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
      }
    }

    .socials {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: var(--bg-navbar);
      box-shadow: var(--bs);
      padding: 0.5rem;
      border-radius: 0 var(--br) var(--br) 0;
      .socials-list {
        list-style: none;
        margin: 0;
        .socials-item {
          .mat-icon-button {
            background-color: var(--bg-navbar);
            color: var(--title-color);
            i {
              color: var(--title-color);
              font-size: 1.5rem;
            }
          }
          & + .socials-item {
            margin-top: 0.5rem;
          }
        }
      }
    }

    .scroll_animation {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      .scroll {
        width: 1.2rem;
        height: 2rem;
        border-radius: 2rem;
        border: 2px solid var(--title-color);
        display: inline-block;
        position: relative;
        animation: scroll 1.5s infinite;
        &:after {
          content: '';
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 5px;
          background: var(--title-color);
          top: 10px;
          left: 50%;
          transform: translate(-50%, -50%);
          animation: scroll_after 1.5s infinite;
        }
      }
    }
  }
}

::ng-deep .dark {
  #hero {
    transition: var(--ts);
    background: linear-gradient(
        to right,
        rgba(10, 10, 10, 0.8),
        rgba(10, 10, 10, 0.8)
      ),
      url(../../../../assets/img/hero-bg-dark.svg) no-repeat center center/cover;
  }
}

@keyframes scroll_after {
  0% {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%) translateY(calc(1rem - 5px));
    opacity: 0;
  }
  90% {
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
  }
}
