<footer>
  <div class="content">
    <div class="copy">
      <p>&copy; {{year}} - Feito com &lt;3 por Kauã Landi</p>
    </div>
    <div class="find-me">
      <p>Me encontre em:</p>
      <a mat-icon-button target="_blank" [href]="whatsapp">
        <i icon="whatsapp"></i>
      </a>
      <a mat-icon-button target="_blank" [href]="linkedin">
        <i icon="linkedin"></i>
      </a>
      <a mat-icon-button target="_blank" [href]="github">
        <i icon="github"></i>
      </a>
      <a mat-icon-button target="_blank" [href]="instagram">
        <i icon="instagram"></i>
      </a>
    </div>
  </div>
</footer>