footer {
  --navbar_padding: var(--navbar-top-padding);
  --navbar_bg: var(--navbar-top-bg);
  --navbar_color: var(--navbar-top-color);
  z-index: 2;

  transition: var(--ts);
  width: 100%;
  padding: var(--navbar_padding);
  background-color: var(--navbar_bg);
  position: var(--navbar-position, auto);
  bottom: 0;
  border-top: 1px solid var(--line-color);

  .content {
    max-width: var(--navbar-max-width);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    overflow: auto;

    .copy {
      border-right: 1px solid var(--line-color);
      padding-right: 18px;
      height: 48px;
      display: flex;
      align-items: center;
    }

    .find-me {
      display: flex;

      p {
        display: flex;
        height: 48px;
        align-items: center;
        padding: 0 18px;
        border-left: 1px solid var(--line-color);
      }

      a {
        border-left: 1px solid var(--line-color);
        border-radius: 0;
        &:last-child {
          border-right: 1px solid var(--line-color);
        }
      }
    }

    p,
    a,
    i {
      color: var(--secondary-gray);
      flex: none;
    }
  }
}
