<mdb-navbar SideClass="navbar navbar-expand-sm navbar-{{theme}} fixed-top" [containerInside]="false">
  <mdb-navbar-brand>
    <a class="navbar-brand" (click)="scrollTo('hero')">
      <h2><img src="assets/img/logo.svg" alt="logo">Kauã Landi</h2>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-{{theme === 'light' ? 'dark' : 'light'}}" mdbWavesEffect (click)="scrollTo('about')">
          Sobre mim
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-{{theme === 'light' ? 'dark' : 'light'}}" mdbWavesEffect
          (click)="scrollTo('projects')">
          Projetos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-{{theme === 'light' ? 'dark' : 'light'}}" mdbWavesEffect (click)="scrollTo('contact')">
          Contato
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>