@import '../../../styles/media';
@import '../../../styles/typography';

/*
  ! Navbar
  ! Se for usar configurações de CSS simples
  ? ex: padding, bg e color
  ! Use as variáveis de ambiente no arquivo:
  * src/styles/_variables.scss

  ! Obrigado :) - Noclaf Tech
*/

nav {
  z-index: 2;
  transition: var(--ts);
  width: 100%;
  position: fixed;
  padding: 0 1rem;

  .content {
    max-width: var(--container);
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    padding: 1rem 0 0.5rem;

    @include media('<=navbar-collapse') {
      flex-wrap: wrap;
    }

    .logo {
      grid-area: logo;
      display: flex;
      gap: 0.4rem;
      align-items: center;
      text-decoration: none;
      font-weight: 500;
      color: var(--title-color);
      @extend .f-16;

      img {
        height: 1.8rem;
      }
    }

    .menu {
      transition: all 0.2s;
      grid-area: menu;
      overflow: hidden;
      display: flex;
      align-items: center;

      a {
        color: var(--text-color);
        &.active {
          color: var(--title-color);
        }
      }

      @include media('<=navbar-collapse') {
        transition: var(--ts);
        transition-duration: 0.5s;
        transition-delay: 0.1s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 100%;
        flex-grow: 1;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
        background-color: var(--secondary-bg);
        z-index: -1;
        opacity: 1;
        &.vertical {
          z-index: 0;
          top: 0;
          left: 0;
          padding: 1rem;
          &.hidden {
            top: -50vh;
            opacity: 0;
          }
        }
        &.horizontal {
          justify-content: flex-start;
          align-items: flex-start;
          padding-top: 0;
          height: 100vh;
          top: 0;
          left: 0;
          z-index: 1;
          &.hidden {
            left: -100vw;
            opacity: 0;
          }
        }
        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}

.hamburger {
  grid-area: hamburger;
  display: none;
  z-index: 3;
  @include media('<=navbar-collapse') {
    display: block;
  }
  button {
    background-color: transparent;
    padding: 14px;
    .line {
      background-color: var(--text-color);
      width: 20px;
      height: 2px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: var(--ts);

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 2px;
        border-radius: 10px;
        background-color: var(--text-color);
        transition: var(--ts);
      }
      &::before {
        transform: translateY(-8px);
      }
      &::after {
        transform: translateY(8px);
      }
    }
  }

  &.active {
    button {
      .line {
        background-color: transparent;
        transform: rotate(180deg);
        &::before,
        &::after {
          background-color: var(--text-color);
          width: 25px;
        }
        &::before {
          transform: rotate(45deg);
        }
        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.social-links {
  position: absolute;
  top: -1rem;
  left: 0.5rem;
  transition: var(--ts);
  @include media('<=1570px') {
    opacity: 0;
    left: -5rem;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    &::before {
      content: '';
      height: 20vh;
      width: 1px;
      background-color: var(--text-color);
    }
  }
}
