<nav [@offcanvasTopAnimation] #navbar [ngClass]="{ scroll }">
  <div class="content">
    <a class="logo" routerLink="/home">
      <img src="../../../assets/images/logo.png" alt="logo" />
      Kauã Landi
    </a>

    <div class="hamburger" [ngClass]="{ active: !navbar_hidden }">
      <button
        aria-label="menu"
        mat-icon-button
        (click)="toggleNavbarVisibility()"
      >
        <span class="line"></span>
      </button>
    </div>

    <div class="menu vertical" [ngClass]="{ hidden: navbar_hidden }">
      <a mat-button routerLink="/home">{{ 'navbar.home' | translate }}</a>
      <a mat-button routerLink="/projects">
        {{ 'navbar.projects' | translate }}
      </a>
      <a mat-button routerLink="/about-me">
        {{ 'navbar.about-me' | translate }}
      </a>
      <a mat-button routerLink="/contacts">
        {{ 'navbar.contacts' | translate }}
      </a>
      <lang-select />
    </div>
  </div>
</nav>

@if (!loading && !error) {
  <div [@routeAnimations]="outlet && outlet.activatedRouteData">
    <router-outlet #outlet="outlet" />
  </div>
}
@if (error) {
  <page-error [code]="error" />
}

@if (loading) {
  <page-loading />
}
