.page {
  height: calc(100% - 1.5rem);
  position: relative;

  .thanks-page {
    height: 100%;
    width: 100%;
    padding: 0;
    backdrop-filter: blur(15px);
    opacity: 0;
    scale: 0.8;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: all 1s ease-in-out;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      h1,
      p {
        text-align: center;
        color: var(--text-color);
      }
      p {
        color: var(--secondary-gray);
        max-width: 350px;
        margin-bottom: 1rem;
      }
    }
  }

  &.thanks {
    .thanks-page {
      z-index: 2;
      opacity: 1;
      scale: 1;
    }
  }
}
