<main class="page">
  <div class="container">
    <header>
      <div class="title">
        <h1>Roadmap</h1>
        <p>
          O passo a passo que deve ser seguido para melhor aproveitamento do
          boilerplate e deixa-lo mais consistente.
        </p>
      </div>
    </header>

    <div class="content">
      @for (item of items; track item.title) {
        <mat-checkbox color="primary">
          <span class="title"> {{ item.title }} </span>
          <div class="description" [innerHTML]="item.description"></div>
        </mat-checkbox>
      }
    </div>
  </div>
</main>
