.game-frame {
  max-width: 510px;
  height: 475px;
  border-radius: 8px;
  border: 1px solid #0c1616;
  background: linear-gradient(
    150deg,
    rgba(23, 85, 83, 0.7) 1.7%,
    rgba(67, 217, 173, 0.09) 81.82%
  );
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.3) inset;
  backdrop-filter: blur(32px);
  margin: 0 auto;
}
