<h1 matDialogTitle
  >{{ 'forgot-password.title' | translate }}
  <p>{{ 'forgot-password.subtitle' | translate }}</p>
</h1>

<form [formGroup]="form" (ngSubmit)="handleFormSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'forgot-password.email' | translate }}</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        autocomplete="username"
      />
      <mat-error>
        {{ form.controls.email.errors | formError | translate }}
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions [attr.align]="'end'">
    <button type="button" mat-button [mat-dialog-close]="false">
      {{ 'global.cancel' | translate }}
    </button>
    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="loading()"
    >
      {{ 'global.confirm' | translate }}
      @if (loading()) {
        <i icon="loading"></i>
      }
    </button>
  </mat-dialog-actions>
</form>
