@import 'src/styles/media';

#about {
  .container {
    .row {
      .article {
        .skills-list {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 0.4rem;
          .skill-item {
            background-color: var(--bg-card);
            padding: 0.6rem 0.8rem;
            border-radius: var(--br);
            font-weight: 500;
            color: var(--text-color);
            flex: none;
          }
        }

        .mat-expansion-panel {
          padding-top: 1rem;

          .mat-expansion-panel-header {
            padding-left: 0;
            padding-bottom: 0.5rem;
          }

          ::ng-deep .mat-expansion-panel-body {
            padding: 0;
          }
        }

        & + .article {
          @include media('<tablet') {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
