<section id="about">
  <div class="container">
    <header class="header_section">
      <h2 class="header_section__title">Sobre mim</h2>
      <p class="header_section__subtitle">
        Aqui você encontrará mais informações sobre mim, o que faço e as minhas
        experiências atuais.
      </p>
    </header>

    <div class="row">
      <div class="article col-12 col-md-6">
        <h3>Conheça-me!</h3>
        <p>
          Tenho {{ myYearsOld }} anos e estou cursando Ciência da Computação na
          Unifeso. Atualmente, estou trabalhando na
          <strong>Noclaf Tech</strong> como <strong>Desenvolvedor</strong>.
          <br /><br />
          Sou um <strong>Desenvolvedor Web FullStack</strong> habituado com a
          criação de websites e aplicações web escaláveis e performáticas.
          <br /><br />
          Também tenho habilidades para criar
          <strong>Chatbots para WhatsApp</strong> e desenvolver soluções
          inovadoras para atender às necessidades dos clientes. <br /><br />
          Estou sempre aberto para novas oportunidades, então, se você estiver
          procurando um Desenvolvedor Web, não hesite em entrar em contato
          comigo.
        </p>
      </div>
      <div class="article col-12 col-md-6">
        <h3>Minhas habilidades</h3>
        <ul class="skills-list">
          <li *ngFor="let skill of skills" class="skill-item">{{ skill }}</li>
        </ul>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p>Extras</p>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="skills-list">
            <li *ngFor="let skill of moreSkills" class="skill-item">
              {{ skill }}
            </li>
          </ul>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</section>
