.mat-mdc-button-base {
  text-decoration: none;

  &.mdc-button {
    border-radius: 50px;
    &.primary {
      background-color: var(--main-color);
      color: var(--primary-bg);
    }

    &.mat-button-disabled,
    &:disabled {
      color: var(--primary-bg) !important;
      opacity: 0.5;
    }
  }
}
