a[role='button'] {
  cursor: pointer;
}

.mdc-button__label {
  i {
    color: inherit;
  }
}
.mat-mdc-button,
.dark .mat-mdc-button {
  --mdc-text-button-container-shape: 0;
  --mat-text-button-horizontal-padding: 1rem;

  &.mat-primary {
    --mdc-text-button-label-text-color: var(--title-color);
    border: 1px solid var(--mat-text-button-state-layer-color);
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  &.end {
    justify-content: flex-end;
  }
  &.center {
    justify-content: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.full {
    button {
      width: 100%;
    }
  }
}
