.mat-mdc-button-base {
  text-decoration: none;

  &.mdc-button {
    border-radius: var(--br);
    &.orange {
      background-color: var(--accent-orange);
      color: var(--primary-black);
    }
    &.alt {
      border: 1px solid var(--line-color);
      color: var(--white);
    }

    &.mat-button-disabled,
    &:disabled {
      color: var(--primary-bg) !important;
      opacity: 0.5;
    }
  }
}
