@import './animations';

.card-input {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  label {
    font-size: 1rem;
    padding-left: 5px;
    color: var(--secondary-gray);
    margin-bottom: 5px;
  }

  .input-icon {
    position: relative;
    width: 100%;
    input {
      width: 100%;
      padding-right: 2rem;
    }
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0px;
      color: var(--main-color);
      cursor: pointer;
    }
  }

  input,
  textarea,
  select {
    padding: 12px 16px;
    border-radius: var(--br);
    border: 1px solid var(--line-color);
    background-color: var(--secondary-bg);
    outline: none;
    color: var(--secondary-gray);
    resize: none;
    transition: var(--ts);
    box-shadow: 0px 0px 0px 0px #607b964d;

    &:focus {
      box-shadow: 0px 0px 0px 2px #607b964d;
    }

    &[type='number'] {
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      appearance: textfield;
    }
    &[type='number']::-webkit-inner-spin-button,
    &[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
    &.ng-touched.ng-invalid {
      border-color: var(--red-color);
      @include shake;
    }
    &[type='file'] {
      display: none;
    }
  }

  .mat-button {
    height: 41px;
  }

  & + .card-input {
    margin-top: 1rem;
  }
}

.mat-form-field-infix {
  display: flex;
}
