@import 'media';

main.page {
  min-height: 100dvh;
  background-color: var(--primary-bg);
  padding: 0 1rem;

  .container {
    background-color: var(--secondary-bg);
    padding-top: calc(44px + 1.5rem + 2rem);
    min-height: 100dvh;

    & > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      h1,
      p {
        margin: 0;
      }
      p {
        margin-top: 0.5rem;
      }
    }
  }
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
