@import 'media';

main.page {
  min-height: 100dvh;
  background-color: var(--primary-bg);
  padding: 0 1rem;

  .container {
    background-color: var(--secondary-bg);
    padding: calc(36px + 1.5rem + 2rem) 1rem 0;
    min-height: 100dvh;

    & > header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      h1,
      p {
        margin: 0;
      }
      p {
        margin-top: 0.5rem;
      }
    }
  }
}

.container {
  max-width: var(--container);
  margin: 0 auto;
}

section {
  & > header,
  .header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 3rem;

    h2 {
      margin: 0;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 700px;
      &::after {
        content: '';
        background-color: var(--primary-color);
        display: inline-block;
        margin-left: 1rem;
        height: 1px;
        width: 100%;
        flex: 1;
      }
    }

    a,
    button {
      flex: none;
    }
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @include media('<=tablet') {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  border: 1px solid var(--line-color);
  figure {
    margin: 0;
    img {
      border-bottom: 1px solid var(--line-color);
      width: 100%;
    }

    .techs {
      border-bottom: 1px solid var(--line-color);
      padding: 0 0.4rem 0.4rem;
    }

    figcaption {
      padding: 1rem;
      h3 {
        margin: 0 0 1rem;
      }
      p {
        margin: 0 0 1rem;
      }
    }
  }
}
