::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-gray);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: var(--white-10);
  border-radius: 6px;
}
