@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

$base-font-size: 19;
$min-font-size: 10;
$max-font-size: 52;

@for $i from $min-font-size through $max-font-size {
  $class-name: '.fd-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem);
  }
}

.mat-typography {
  * {
    font-family: 'Fira Code', monospace !important;
  }
  h1 {
    @extend .fd-24;
  }
  h2 {
    @extend .fd-18;
  }
  h3 {
    @extend .fd-16;
  }
  h4 {
    @extend .fd-14;
  }
  h5 {
    @extend .fd-12;
  }
  h6 {
    @extend .fd-10;
  }
  p {
    @extend .fd-14;
  }
  a {
    @extend .fd-14;
  }
  button {
    @extend .fd-14;
  }
  span {
    @extend .fd-14;
  }
  label {
    @extend .fd-14;
  }
  .mat-button {
    @extend .fd-14;
  }

  .comment {
    color: var(--secondary-gray);
  }
}

@for $i from $min-font-size through $max-font-size {
  $class-name: '.f-#{$i}';

  #{$class-name} {
    font-size: calc($i / $base-font-size * 1rem) !important;
  }
}
