#contact {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(../../../../assets/img/hero-bg.svg) no-repeat center center/cover;
  .container {
    .form_session {
      max-width: 40rem;
      margin: 0 auto;
      background: var(--bg-navbar);
      padding: 2rem;
      border-radius: var(--br);
      box-shadow: var(--bs);
      .text {
        transition: var(--ts);
      }
      button.mat-button-base {
        ::ng-deep .mat-button-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          .icon {
            display: block;
            transform: scale(0);
            transition: var(--ts);
            animation: zoom 0.2s ease-in-out forwards;
          }
        }
      }
    }
  }
}

::ng-deep {
  .dark {
    #contact {
      background: linear-gradient(
          to right,
          rgba(10, 10, 10, 0.8),
          rgba(10, 10, 10, 0.8)
        ),
        url(../../../../assets/img/hero-bg-dark.svg) no-repeat center
          center/cover;
    }
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
