<section id="contact">
  <div class="container">
    <header class="header_section">
      <h2 class="header_section__title">Contato</h2>
      <p class="header_section__subtitle">Sinta-se à vontade para entrar em contato enviando o formulário abaixo ou por
        alguma de minhas redes sociais. Retornarei ocontato o mais rápido possível.</p>
    </header>

    <form class="form_session" [formGroup]="contactForm">
      <div class="card_input">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" formControlName="name" placeholder="Digite seu nome">
      </div>
      <div class="card_input">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email" formControlName="email" placeholder="Digite seu e-mail">
      </div>
      <div class="card_input">
        <label for="message">Mensagem</label>
        <textarea name="message" id="message" cols="30" rows="10" formControlName="message"
          placeholder="Digite sua mensagem"></textarea>
      </div>
      <div class="buttons">
        <button mat-raised-button [disabled]="!contactForm.valid" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</section>