<main id="login">
  <div [@zoomInAnimation] class="row">
    <div class="col">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo">
      </div>
    </div>
    <div class="col">
      <div class="form">
        <form (ngSubmit)="loginSubmitHandler()" [formGroup]="login_form">
          <h1>Login</h1>
          <div class="card-input">
            <label for="email">E-mail</label>
            <input type="text" id="email" placeholder="Digite seu e-mail" mask="(00) 00000-0000"
              formControlName="email">
          </div>
          <div class="card-input">
            <label for="password">Senha</label>
            <span class="input-icon">
              <input [type]="view_pass ? 'text' : 'password'" id="password" placeholder="Digite sua senha"
                formControlName="password">
              <button type="button" mat-icon-button aria-label="Ver senha" (click)="view_pass = !view_pass">
                <i icon="view_pass" *ngIf="!view_pass"></i>
                <i icon="hide_pass" *ngIf="view_pass"></i>
              </button>
            </span>
            <span class="forgot-password">
              <a class="f-12" routerLink="/forgot-password">Esqueceu sua senha?</a>
            </span>
          </div>
          <div class="card-input">
            <mat-checkbox formControlName="remember"><span class="f-14">Lembrar-me</span></mat-checkbox>
          </div>
          <div class="card-input">
            <button mat-button type="submit" class="primary" [disabled]="loading">
              Entrar
              <loading *ngIf="loading"></loading>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>