<router-outlet />
<div>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example"
      icon-button
      with
      menu
      icon
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      favorite-icon
      aria-label="Example"
      icon-button
      with
      heart
      icon
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <mat-slide-toggle class="example-margin" />
  </mat-toolbar>
  <mat-drawer-container class="example-sidenav-container">
    <mat-drawer class="example-drawer" mat-typography mode="side" opened>
      <mat-nav-list>
        <a class="mat-body-strong" mat-list-item href="…"> Button </a>
        <a class="mat-body-strong" mat-list-item href="…"> Card </a>
        <a class="mat-body-strong" mat-list-item href="…"> Checkbox </a>
        <a class="mat-body-strong" mat-list-item href="…"> Toolbar </a>
        <a class="mat-body-strong" mat-list-item href="…"> List </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="example-container">
        <section class="mat-typography">
          <h1 class="mat-display-1">Custom Theme</h1>
          <mat-divider />
        </section>
        <section>
          <h3 class="mat-title">Material Buttons</h3>
          <p
            >Angular Material buttons are native &lt;button&gt; or &lt;a&gt;
            elements enhanced with Material Design styling and ink ripples.
          </p>
        </section>
        <section>
          <div class="example-label">Basic</div>
          <div class="example-button-row">
            <button mat-button>Basic</button>
            <button mat-button color="primary">Primary</button>
            <button mat-button color="accent">Accent</button>
            <button mat-button color="warn">Warn</button>
            <button mat-button disabled>Disabled</button>
            <a
              mat-button
              href="https://www.google.com/"
              target="_blank"
              rel="noopener"
              >Link</a
            >
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Raised</div>
          <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a
              mat-raised-button
              href="https://www.google.com/"
              target="_blank"
              rel="noopener"
              >Link</a
            >
          </div>
        </section>
        <mat-divider />
        <section>
          <div class="example-label">Icon</div>
          <div class="example-button-row">
            <div class="example-flex-container">
              <button
                mat-icon-button
                aria-label="Example icon button with a vertical three dot icon"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <button
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>home</mat-icon>
              </button>
              <button
                mat-icon-button
                color="accent"
                aria-label="Example icon button with a menu icon"
              >
                <mat-icon>menu</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                aria-label="Example icon button with a heart icon"
              >
                <mat-icon>favorite</mat-icon>
              </button>
              <button
                mat-icon-button
                disabled
                aria-label="Example icon button with a open in new tab icon"
              >
                <mat-icon>open_in_new</mat-icon>
              </button>
            </div>
          </div>
        </section>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
