.toggle-theme {
  overflow: hidden;
  position: relative;
  --hidden-top: 150%;
  --visible-top: 50%;
  .icon {
    position: absolute;
    top: var(--hidden-top);
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #fff;
    opacity: 1;
    transition: var(--ts);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &.sun {
      color: var(--yellow_color);
      opacity: 1;
      top: var(--visible-top);
      z-index: 2;
    }

    &.moon {
      color: var(--green_color);
      top: var(--hidden-top);
    }
  }

  &:hover {
    --hidden-top: 110%;
    --visible-top: 40%;
    transform: translateY(0px);
  }
}

::ng-deep {
  .dark {
    .toggle-theme {
      .icon {
        &.moon {
          opacity: 1;
          top: var(--visible-top) !important;
          z-index: 3;
        }
        &.sun {
          opacity: 1 !important;
          top: var(--hidden-top) !important;
        }
      }
    }
  }
}
