<section id="home-hero">
  <div class="row">
    <div class="col text">
      <h1 [innerHTML]="'home.hero.title' | translate"></h1>
      <p>
        {{ 'home.hero.subtitle' | translate }}
      </p>
      <button mat-button color="primary">
        <span>{{ 'home.hero.button' | translate }}</span>
      </button>
      <p class="outher-version">
        {{ 'home.hero.outher-version' | translate }}
        <a target="_blank" href="https://dev.kaualf.com/" rel="noopener">
          dev.kaualf.com
        </a>
      </p>
    </div>

    <div class="col image">
      <img src="../../../../assets/images/hero.png" alt="Foto do Kauã" />
      <div class="portfolio-status">
        <span>{{ 'home.hero.status' | translate }}</span>
      </div>
    </div>
  </div>
</section>
