@import '../../../../styles/media';

section {
  margin: 2rem 0;
  min-height: calc(100dvh - 36px - 1.5rem - 2rem - 2rem);
  height: 100%;
  max-height: 1080px;
  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    .col {
      width: 40%;
    }

    .text {
      width: calc(60% - 1rem);
      h1,
      p:not(.outher-version),
      a {
        margin: 0;
        margin-bottom: 2rem;
      }

      .outher-version {
        margin: 0;
      }
    }

    .image {
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
      .portfolio-status {
        margin: 0 auto;
        background-color: var(--secondary-bg);
        width: 80%;
        padding: 0.4rem;
        border: 1px solid var(--line-color);
        span {
          display: flex;
          gap: 0.4rem;
          align-items: center;
          &::before {
            content: '';
            flex: none;
            display: inline-block;
            width: 1rem;
            height: 1rem;
            background-color: var(--primary-color);
          }
        }
      }
    }

    @include media('<=desktop') {
      justify-content: space-evenly;
      .col,
      .text {
        width: calc(50% - 0.5rem);
      }
    }

    @include media('<=desktop') {
      flex-direction: column;
      .col,
      .text {
        width: 100%;
      }
      .image {
        max-width: 512px;
        padding: 0;
      }
    }
  }
}
