<main class="page">
  <div class="content">
    <div class="presentation">
      <p class="greetings">Olá a todos! Eu sou o</p>
      <h1 class="name">Kauã Landi</h1>
      <p class="profission">&gt; Desenvolvedor Full Stack</p>

      <div class="instructions">
        <p class="comment mobile">
          // Abra em uma tela maior para jogar
        </p>
        <p class="comment desktop">
          // Complete o jogo para continuar
        </p>
      </div>
    </div>

    <div class="game">
      <div class="background">
        <img src="../../../assets/images/hello-bg-1.svg" alt="">
        <img src="../../../assets/images/hello-bg-2.svg" alt="">
      </div>

      <app-snake-game></app-snake-game>
    </div>
  </div>
</main>

<app-footer></app-footer>