<main class="page">
  <div class="content">
    <div class="ide">
      <div class="activity-bar">
        <div class="expansion-title">
          <mat-expansion-panel [hideToggle]="true" expanded>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <i icon="angle_right" class="angle"></i>
                tecnologias
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-checkbox color="primary" *ngFor="let tech of tecnologies"
              (change)="handleChangeFilterTechStatus(tech, $event)">{{tech}}</mat-checkbox>
          </mat-expansion-panel>
        </div>
      </div>

      <div class="view-file">
        <div class="file-name">
          <p>{{selectedTechs.join('; ') || 'Todas'}}</p>
        </div>
        <div class="projects-list">
          <div class="project" *ngFor="let repo of repos; let idx = index">
            <p class="title blue"><b>Projeto {{idx+1}}</b> <span class="comment"> // {{repo.name}}</span></p>
            <app-project-card [repo]="repo"></app-project-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>