<section>
  <div class="row">
    <div class="col">
      <header class="header__section">
        <h2><strong>#</strong>sobre-mim</h2>
      </header>

      <div class="content">
        <p>{{ 'home.about-me.p1' | translate }}</p>

        <p>{{ 'home.about-me.p2' | translate }}</p>

        <a mat-button color="primary" routerLink="/about-me">
          <span>{{ 'home.about-me.button' | translate }}</span> ~~>
        </a>
      </div>
    </div>
    <div class="col image">
      <figure>
        <img src="assets/images/about-me.png" alt="" />
      </figure>
    </div>
  </div>
</section>
