<main id="login">
  <div [@zoomInAnimation] class="row">
    <div class="lang">
      <lang-select />
    </div>
    <div class="col">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Logo" />
      </div>
    </div>
    <div class="col">
      <div class="form">
        <form (ngSubmit)="handleFormSubmit()" [formGroup]="form">
          <h1>{{ 'forgot-password.title' | translate }}</h1>
          <p>
            <a routerLink="/login">{{
              'login-register.login-title' | translate
            }}</a>
          </p>

          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'login-register.password' | translate }}
            </mat-label>
            <input
              matInput
              [type]="view_pass ? 'text' : 'password'"
              autocomplete="new-password"
              formControlName="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              aria-label="Ver senha"
              (click)="view_pass = !view_pass"
            >
              <i [icon]="view_pass ? 'hide_pass' : 'view_pass'"></i>
            </button>

            <mat-error [matTooltip]="this.password_warning">
              {{
                this.password_warning ||
                  this.password_suggestions[0] ||
                  (form.controls.password.errors | formError | translate)
              }}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'login-register.re-password' | translate }}
            </mat-label>
            <input
              matInput
              [type]="view_repass ? 'text' : 'password'"
              autocomplete="new-password"
              formControlName="re_password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              aria-label="Ver senha"
              (click)="view_repass = !view_repass"
            >
              <i [icon]="view_repass ? 'hide_pass' : 'view_pass'"></i>
            </button>

            <mat-error>
              {{ form.controls.re_password.errors | formError | translate }}
            </mat-error>
          </mat-form-field>

          <div class="buttons full">
            <button
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="loading()"
            >
              {{ 'forgot-password.change-password' | translate }}
              @if (loading()) {
                <i icon="loading"></i>
              }
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
