@import 'palette';

@import 'ngx-toastr/toastr';
@import 'styles/animations';
@import 'styles/button';
@import 'styles/hotfixes';
@import 'styles/media';
@import 'styles/page';
@import 'styles/scroll';
@import 'styles/transitions';
@import 'styles/typography';
@import 'styles/variables';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}
