<section class="ide-page">
  <h1>Conheça-me</h1>

  <p>
    Tenho {{myYearsOld}} anos e estou cursando o 3° ano do Ensino Médio. Atualmente, estou trabalhando na Noclaf Tech
    como Desenvolvedor Pleno.
  </p>

  <p>
    Sou um Desenvolvedor Web Full Stack habituado com a criação de websites e aplicações web escaláveis e performáticas.
  </p>

  <p>
    Também tenho habilidades para criar Chatbots para WhatsApp e desenvolver soluções inovadoras para atender às
    necessidades dos clientes.
  </p>

  <p>
    Estou sempre aberto para novas oportunidades, então, se você estiver procurando um Desenvolvedor Web, não hesite em
    entrar em contato comigo.
  </p>
</section>