<section class="ide-page">
  <h1>Conheça-me</h1>

  <p>
    Tenho {{myYearsOld}} anos e estou cursando o 3° ano do Ensino Médio. Atualmente, estou trabalhando na
    <b>Noclaf Tech</b> como <b>Desenvolvedor Pleno</b>.
  </p>

  <p>
    Sou um <b>Desenvolvedor Full Stack</b> habituado com a criação de websites e aplicações web escaláveis e
    performáticas.
  </p>

  <p>
    Também tenho habilidades para criar <b>Chatbots para WhatsApp</b> e desenvolver soluções inovadoras para atender às
    necessidades dos clientes.
  </p>

  <p>
    Estou sempre aberto para novas oportunidades, então, se você estiver procurando um Desenvolvedor, não hesite em
    entrar em contato comigo.
  </p>
</section>