<section id="landing-page-hero" class="text-center">
  <div class="container mx-auto">
    <div class="py-24">
      <figure
        class="mx-auto mb-10 mt-0 flex size-32 items-center justify-center rounded-full border border-solid"
      >
        <img
          src="images/profile.jpg"
          class="size-28 rounded-full"
          alt="Foto do Kauã fazendo hang loose"
        />
      </figure>

      <h1 class="text-lg leading-loose tracking-wider text-paragraph">
        Hello World! Meu nome é
        <strong class="text-primary-50"> Kauã Landi </strong> e sou
        <br />
        <span class="text-5xl font-bold text-title">
          Desenvolvedor Fullstack
        </span>
      </h1>

      <p class="mx-auto mt-6 max-w-2xl text-paragraph">
        Transformo necessidades em aplicações reais, evolventes e funcionais.
        Desenvolvo sistemas através da minha paixão pela tecnologia,
        contribuindo com soluções inovadoras e eficazes para desafios complexos.
      </p>
    </div>
  </div>
</section>
